@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 228px;
  background-size: 100%;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: auto 0 auto 64px;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.link_opacity {
  transition: opacity 1s linear 0;
}

.link_opacity:hover {
  opacity: 0.4;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  object-fit: contain;
  object-position: bottom right;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  animation: rotation 20s linear infinite;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.two-columns__brief {
  flex-shrink: 0;
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:not(:last-of-type){
  margin-bottom: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

.cards__item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.cards__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px 40px;
}

.cards__title {
  margin: 0 0 16px 0;
  width: 240px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  width: 240px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.video__iframes {
  display: flex;
  position: relative;
  top: 50px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px 0 0 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 1100px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  position: relative;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 100px auto 0 auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  width: 370px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.khan {
  display: flex;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  height: 608px;
  width: 620px;
  overflow: hidden;
  margin-right: 48px;
}

.khan__buy-link {
  align-self: flex-start;
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #ffffff;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #ffffff;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  background-size: 100%;
  background-image: url(../images/kaufman-triangle.svg);
  animation: rotation 20s linear infinite;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 80px auto 0 auto;
}

.resources__link {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: #ffffff;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
